body {


  background-color: lightgreen;
  background-image: linear-gradient(white, lightgreen);

}


h1 {
  color: forestgreen;
  text-align: center;
  font-size: 350%;
    
}
p {
  color: forestgreen;
}

code {
   background-color: lightgoldenrodyellow
}


